# THEORY QUESTION'S ANSWERS

Q1: What are data structures, and why are they important?
-  Data structures are organized ways of storing and managing data (e.g., lists, stacks, trees). They are important because they allow efficient access, modification, and storage of data. Choosing the right data structure improves performance in solving computational problems.

Q2: Explain the difference between mutable and immutable data types with examples.
-  Mutable data types can be changed after creation (e.g., lists: [1, 2, 3] → [1, 4, 3]). Immutable data types cannot be changed once created (e.g., strings: "cat" cannot be altered, only replaced). This distinction affects memory management and program behavior.

Q3: What are the main differences between lists and tuples in Python?
-  Lists are mutable, meaning their elements can be modified. Tuples are immutable, making them faster and safer for fixed data. Lists use square brackets [], while tuples use parentheses ().

Q4: Describe how dictionaries store data.
-  Dictionaries store data as key-value pairs. Each key is unique and maps directly to a value. Internally, Python uses hash tables to allow fast lookups of values by their keys.

Q5: Why might you use a set instead of a list in Python?
-  A set is used when you want unique elements only. Unlike lists, sets automatically remove duplicates and allow faster membership checking. They are ideal for operations like unions, intersections, and differences.

Q6: What is a string in Python, and how is it different from a list?
-  A string is an immutable sequence of characters, while a list is a mutable sequence of items. You can change elements in a list but not in a string. Strings also support text-specific methods like .upper() or .split().

Q7: How do tuples ensure data integrity in Python?
-  Since tuples are immutable, their contents cannot be changed after creation. This prevents accidental modification of critical data. They are often used to store constant values or as dictionary keys.

Q8: What is a hash table, and how does it relate to dictionaries in Python?
- A hash table stores data in an array using a hash function to compute the index. Python dictionaries are built on hash tables, enabling fast lookups, insertions, and deletions using keys.

Q9: Can lists contain different data types in Python?
-  Yes, lists in Python can hold elements of mixed types. For example: [1, "apple", 3.5, True] is valid. This flexibility makes lists very versatile for general-purpose storage.

Q10: Explain why strings are immutable in Python.
-  Strings are immutable to improve performance, security, and memory efficiency. Since they are frequently used (e.g., as keys in dictionaries), immutability ensures they remain consistent and hashable.

Q11: What advantages do dictionaries offer over lists for certain tasks?
-  Dictionaries allow fast key-based lookups, while lists require searching by index or scanning elements. This makes dictionaries more efficient when working with labeled data or when quick access is required.

Q12: Describe a scenario where using a tuple would be preferable over a list.
-  Tuples are preferable when storing fixed, unchangeable data like coordinates (x, y) or dates (year, month, day). They are also useful as dictionary keys since lists cannot be keys.

Q13: How do sets handle duplicate values in Python?
-  Sets automatically remove duplicates. For example, {1, 2, 2, 3} becomes {1, 2, 3}. This ensures all elements are unique without requiring manual filtering.

Q14: How does the “in” keyword work differently for lists and dictionaries?
-  For lists, "in" checks if a value exists among the elements. For dictionaries, "in" checks if a key exists (not the value). Example: "a" in {"a":1} returns True.

Q15: Can you modify the elements of a tuple? Explain why or why not.
-  No, tuples are immutable, so their elements cannot be modified after creation. This ensures data stability and makes them suitable for fixed records.

Q16: What is a nested dictionary, and give an example of its use case.
-  A nested dictionary is a dictionary inside another dictionary. Example:

students = {"Alice": {"age": 20, "grade": "A"}}


They are useful for storing structured data like student records or JSON-like objects.

Q17: Describe the time complexity of accessing elements in a dictionary.
-  Accessing a value by its key in a dictionary has an average O(1) time complexity due to hash table implementation. In worst-case collisions, it may degrade to O(n).

Q18: In what situations are lists preferred over dictionaries?
-  Lists are preferred when order matters, when data is simple and sequential, or when indexing by position is needed. For example, managing a to-do list or storing ordered numbers.

Q19: Why are dictionaries considered unordered, and how does that affect data retrieval?
-  Dictionaries don’t store items in a fixed order by default (though since Python 3.7, they preserve insertion order). Retrieval is based on keys, not sequence, so element order isn’t guaranteed to matter.

Q20: Explain the difference between a list and a dictionary in terms of data retrieval.
-  Lists retrieve data by index (position), e.g., mylist[2]. Dictionaries retrieve data by key, e.g., mydict["name"]. This makes dictionaries more suitable for labeled data.

# PRACTICAL ANSWERS

In [1]:
# Q1: Write a code to create a string with your name and print it
name = "YourName"
print(name)

YourName

In [2]:
# Q2: Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
# Q3: Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [4]:
# Q4: Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [5]:
# Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [6]:
# Q6: Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# Q7: Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# Q8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
# Q9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# Q10: Write a code to reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [11]:
# Q11: Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
# Q12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# Q13: Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
print(min(t))

5

In [14]:
# Q14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# Q15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
# Q16: Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [17]:
# Q17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
# Q18: Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
# Q19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [20]:
# Q20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [21]:
# Q21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
# Q22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# Q23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [24]:
# Q24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# Q25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [26]:
# Q26: Write a code to create a list, a tuple, and a dictionary, and print them all
lst = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [27]:
# Q27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[16, 45, 66, 70, 88]

In [28]:
# Q28: Write a code to create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [29]:
# Q29: Write a code to combine two dictionaries into one and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# Q30: Write a code to convert a list of strings into a set
lst = ["apple", "banana", "apple", "cherry"]
s = set(lst)
print(s)

{'apple', 'cherry', 'banana'}